#header-mobile {
  z-index: 100;
  position: sticky;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background-color: #131921;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#image-mobile {
  height: 75%;
  margin: 0 20px;
  padding: 5px;
  flex: 0 0 48px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#image-mobile:hover {
  outline: 1px solid white;
}

#image-mobile img {
  width: 100%;
}

#image-desktop {
  height: 75%;
  margin: 0 20px;
  padding: 5px;
  flex: 0 0 48px;
  cursor: pointer;

  display: none;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------- */

#search {
  min-width: 0;
  height: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#search input {
  max-width: 800px;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  flex: 1;
  min-width: 0;
}

#search input:focus {
  outline: none;
  border: 2px solid orange;
  border-right: none;
}

#search button {
  background-color: #FEBD69;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#search button img {
  width: 25px;
  height: 25px;
}

#menu {
  height: 40%;
  margin: 0 15px;
  flex: 0 0 40px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------- */

#header-desktop {
  z-index: 100;
  position: sticky;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background-color: #131921;

  display: none;
  justify-content: space-between;
  align-items: center;
}

#image-desktop {
  height: 75%;
  margin: 0 20px;
  padding: 5px;
  flex: 0 0 108px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#image-desktop:hover {
  outline: 1px solid white;
}

#image-desktop img {
  width: 100%;
}

#return-e-orders {
  flex: 0 0 77px;
  padding: 5px;
  margin-left: 30px;
  color: white;
  cursor: pointer;
  
}

#return-e-orders:hover {
  outline: 1px solid white;
}

#cart {
  flex: 0 0 90px;
  position: relative;
  padding: 5px;
  margin: 0 10px;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
}

#cart:hover {
  outline: 1px solid white;
}

#cart img {
  height: 35px;
}

#cart div {
  transform: translate(-8px, 8px);
}

#amount-items {
  position: absolute;
  top: -20%; left: 36%;
  font-size: 1.3rem;
  color: orange;
}

@media (min-width: 575px) {
  #header-mobile {
    display: none;
  }
  #header-desktop {
    display: flex;
  }
}