main {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card {
    padding: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.card .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .top .img {
    width: 100%;
    height: 200px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    overflow: hidden;
}
.card .top .img  img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

.card .top .name-product {
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(53, 51, 51);
}

.name-product > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;       /* quantidade de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .top .stars {
    height: 25px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 10px;
}

.amount-stars {
    height: 100%;
    width: 60%;

    display: flex;
}

.star {
    background-color: orange;
    height: 25px;
    width: 25px;
    clip-path: polygon(
    50%  0% , 61% 35% , 98% 35% ,
    68% 57% , 79% 91% , 50% 70% ,
    21% 91% , 32% 57% ,  2% 35% ,
    39% 35%
  );
}

.number-avaliation {
    color: #017CB6;
}

.card .top .price {
    font-size: 1.2rem;
}

.card .top .amount select {
    padding: 3px;
    border-radius: 7px;
    background-color: rgb(228, 224, 224);
}

.bottom button {
    background-color: #FFD814;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.bottom button:hover {
    background-color: rgb(255, 174, 0);
}

@media (min-width: 400px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 642px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 850px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1060px) {
    main {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1300px) {
    main {
        grid-template-columns: repeat(6, 1fr);
    }
}